<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281048744585-ribaqd26962n5qnmks8jga1fk198qqeu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281048744585-ribaqd26962n5qnmks8jga1fk198qqeu</string>
	<key>API_KEY</key>
	<string>AIzaSyCCYpilhyMv0XU0WYB22So5-8VRn-5v_bA</string>
	<key>GCM_SENDER_ID</key>
	<string>281048744585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>thriftr-1e99d</string>
	<key>STORAGE_BUCKET</key>
	<string>thriftr-1e99d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281048744585:ios:32aae0f30ebd531c697c58</string>
</dict>
</plist>